.assi_river_container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

}

.template_background {
    background: url(../../../icons/template.svg), #f8f9fb;
    display: flex;
    background-size: 1000px;
    width: 100%;


}

.assi_river_btn {
    padding: 15px 30px;
    width: 117px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid #4F4F4F;
    border-radius: 5px;
}

.assi_river_btn a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.assi_river_btn:hover {
    background-color: #1e8c7e;
}

.assi_river_title h5 {
    margin: 0;
    font-size: 40px;
    font-family: 'Playfair Display', Sans-Serif;
}

.assi_river_description p {
    margin: 0;
    word-break: break-all;
    color: #4F4F4F;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.assi_river_images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    height: 63vh;
}

.assi_river_title_description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3rem;

}

.assi_river_images img {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: nowrap;

}





@media only screen and (max-width:1280px) {
    .assi_river_container {
        width: 90%;
    }

    .assi_river_container img {
        width: 290px;
    }

    .template_background {
        height: 100dvh;
    }
}




@media only screen and (max-width:767px) {

    .template_background {
        height: 100vh;
        align-items: center;
    }

    .assi_river_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 80vh;
        gap: 3rem;

    }

    .assi_river_title_description {
        width: 100%;
        display: flex;
    }

    .assi_river_images img{
        width: 240px;
        height: 240px;
        display: flex;
        flex-wrap: nowrap;
    }


    .assi_river_images {
        width: 98%;
        display: flex;


    }

    .assi_river_title_description {
        margin: 0;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    

    

    .assi_river_description p {

        text-align: center;
    }



    







}

@media only screen and (max-width:520px) {
    .assi_river_images img{
        width:220px;
        height: 220px;
    }
}


@media only screen and (max-width:470px) {
    .assi_river_images img{
        width:200px;
        height: 200px;
    }
}


@media only screen and (max-width:428px) {
    .assi_river_images img{
        width:194px;
        height: 194px;
    }
}

@media only screen and (max-width:414px) {
    .assi_river_images img{
        width:184px;
        height: 184px;
    }
}


@media only screen and (max-width:390px) {
    .assi_river_images img{
        width:175px;
        height: 175px;
    }
}


@media only screen and (max-width:375px) {
    .assi_river_images img{
        width:167px;
        height: 167px;
    }
}

@media only screen and (max-width:360px) {
    .assi_river_images img{
        width:160px;
        height: 160px;
    }
}








