.gallery_home_page {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
    place-items: center;
    place-content: center;
}

.gallery_home_page_container{
    width: 70%;
    margin: 0 auto;
}

.gallery_home_page_title p{
    margin-bottom: 10px;
    color: #4F4F4F;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gallery_home_page_title h2{
    margin-top: 10px;
    font-size: 40px;
    font-family: "Playfair Display", Sans-Serif;
}

.image_container {
    width: 100%;
    position: relative;
}

.image {
    border-radius: 5px;
    height: 50vh;
    margin-top: 5px;
    width: 100%;
    filter: brightness(0.6);
}

.image_container:first-of-type {
    grid-column: 1/3;
}

.title {
    color: white;
    width: 280px;
    font-size: 25px;
    font-family: "Playfair Display", Sans-Serif;
}

.will-flow button {
    border-radius: 5px;
    padding: 15px 30px;
    color: white;
    background-color: #1e8c7e;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.will-flow {
    position: absolute;
    top: 60%;
    left: 40px;
}



.will-flow button:hover {
    background-color: #25AD99;
}






    @media only screen and (max-width:1280px) {

        .gallery_home_page_container{
            width: 90%;
        }
        

    }


    @media only screen and (max-width:767px) {

        .image_container img{
            margin: 0;
        }

        .gallery_home_page_container{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap:0.5rem;
            
        }
    
        .gallery_home_page_title{
            text-align: center;
            display: flex;
            flex-direction: column;
            gap:1rem;
        }

        .gallery_home_page_title p{
            margin: 0;
        }
    
        .gallery_home_page_title h2{
            font-size: 30px;
            margin: 0;
        }
    
        .gallery_home_page{
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        }






    