.rafting_founder_image img{
    width: 60px;
    height: 60px;
}

.rafting_founder{
    display: flex;
    flex-direction: row;
}

.rafting_founder_container{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;

}

.rafting_founder_title_description{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.rafting_founder_title_description p{
    color: #4F4F4F;
    margin-top: 10px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rafting_founder_title_description h5{
    margin: 0;
    font-size: 25px;
    font-family: 'Playfair Display', Sans-Serif;

}



@media only screen and (max-width:480px) {

        

    .rafting_founder_container{
        display: flex;
        flex-direction: column;
        gap:30px;
        align-items: center;
        justify-content: center;
    }

    .rafting_founder{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap:20px;
    }

    .rafting_founder_title_description{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

}


@media only screen and (max-width:1280px) {
    .rafting_founder_container{
        width: 90%;
    }
}



    @media only screen and (max-width:420px) {

        

        .rafting_founder_container{
            display: flex;
            flex-direction: column;
            gap:30px;
            align-items: center;
            justify-content: center;
        }

        .rafting_founder{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap:20px;
        }

        .rafting_founder_title_description p{
            margin: 0;
        }

        .rafting_founder_title_description h5{
            margin: 0;
        }

        .rafting_founder_title_description{
            gap:10px;
        }



}
