.video_story {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: white;
    color: #4f4f4f;
    display: flex;
    justify-content: center;
  }
  
  .story_container {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    padding: 10px;
  }
  
  .story_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .img_container{
    border-radius: 50%;
    border: 2px solid white;
    outline: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img_container img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
  }
  
  .modal_content {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .video_wrapper {
    position: relative;
    padding-bottom: 90%;
    height: 0;
    overflow: hidden;
  }
  
  .video_wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  