.offers{
  display: flex;
  flex-direction: column;
  gap:6dvh;
}

.offers_hero_title{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.offers_hero_title h5 {
  font-size: 40px;
  font-family: "Playfair Display", Sans-Serif;
}

.offers_hero_cards {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.offers_hero_card {
  border-radius: 5px;
  width: 31.5%;
  height: 600px;
  border: 1px solid;
}

.offers_hero_card_img img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: brightness(0.7);
}

.offers_hero_card_title h5 {
  font-size: 25px;
  margin: 0;
  font-family: "Playfair Display", Sans-Serif;
}

.offers_hero_card_title {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.offers_hero_card_price {
  height: 40px;
  display: flex;
  justify-content: center;
}

.offers_hero_card_price h5 {
  margin-top: 10px;
  font-size: 20px;
  color: #4f4f4f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.offers_hero_card_rating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 25px;
}

.offers_hero_card_button {
  display: flex;
  justify-content: center;
}

.offers_hero_card_button button {
  color: white;
  width: 90%;
  border: none;
  background-color: #1e8c7e;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.offers_hero_card_button button:hover {
  background-color: #25ad99;
}

.reviews {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.review_Container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.name_details {
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
}

.review-card-avatar {
  border-radius: 50%;
  margin-top: 7px;
}

.avatar-circle {
  color: white;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 25px;
  background-color: #1e8c7e;
  border-radius: 50%;
  font-family: "Playfair Display", Sans-Serif;
}

.review_card {
  border: 1px solid;
  border-radius: 5px;
  width: 70%;
  display: flex;
  flex-direction: column;
  background-size: 1000px;

  background: url(../../icons/template.svg), #f8f9fb;
}

.review_card_description {
  word-break: break-all;
  margin-left: 5px;
  width: 96%;
}

.review_card_name {
  margin-left: 15px;
  margin-top: 5px;
}

.review_card_name h5 {
  font-size: 25px;
  font-family: "Playfair Display", Sans-Serif;
  margin: 0;
}

.review_card_description p {
  font-size: 16px;
  color: #4f4f4f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.review_button {
  text-align: center;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.review_button_button {
  margin-top: 30px;
  background-color: #1e8c7e;
  cursor: pointer;
  width: 200px;
  height: 60px;
  font-family: "Playfair Display", Sans-Serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.review_button button:hover {
  background-color: #25ad99;
}

.offers_mybooking button{
  background-color: #1e8c7e;
  padding: 15px 35px;
  border-radius: 5px;
  color: white;
  font-family: "Playfair Display", Sans-Serif;
  font-size: 20px;
  cursor: pointer;

}

.offers_mybooking {
  display: flex;
  align-items: center;
  justify-content: center;
}

.offers_mybooking button:hover{
  background-color: #25ad99;
  
}

.amenities{
  width: 70%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 20px;
}

.amenities_details img{
  width: 20px;
  height: 20px;
}

.amenities p{
  margin:  0;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.amenities_details{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:10px;

}

@media only screen and (max-width:767px){

  .offers_hero_cards{
    width: 100% !important;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .offers_hero_card{
    width: 90% !important;
  }

  .offers_hero_title h5{
    text-align: center;
    margin: 0;
    width: 90%;
  }

  
  .reviews{
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .review_Container{
    width: 100%;
    display: flex;
    align-items: center;
  }

  .review_card{
    width: 100%;
  }

  .amenities_details{
    display: flex;
    justify-content: center;
  }




}


@media only screen and (max-width:1280px){
  .offers_hero_cards{
    width: 90%;
    gap:3rem;
    


  }

  .offers_hero_card{
    width: 31%;
  }

  .review_Container{
    width: 90%;
  }


  .amenities{
    width: 90%;
  }

  .offers_hero_card{
    width:350px;
  }

  
}







